# Playwright 
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/results/

# Allure reports
/allure-results/
/allure-report/

# Environment variables
.env.*
